# String:
String is a datatype in python which consists sequence of characters, digits and special characters. Strings are are surrounded by quotes. We can use single, double and triple quotes for strings.

Defining & Initialising: Below are different ways of defining and initilising the string

In [1]:
#Single Quotes:
str_variable1 = 'Hello, World!'

In [2]:
type(str_variable1)

str

In [3]:
#Double Quotes:
str_variable2 = "Hello, World!"

In [4]:
type(str_variable2)

str

In [5]:
#Triple Quotes are used for multiline printing:
str_variable3 = ''' Hello,
                World!'''

In [6]:
print(str_variable3)

 Hello,
                World!

In [7]:
type(str_variable3)

str

Accessing and Indexing the Strings using positive and negative Index:

![caption](string-indexing.png)

In [9]:
str_variable1 = "HELLOWORLD"

In [10]:
#accessing in Strings
str_variable1[0]

'H'

In [12]:
str_variable1[2:5]

'LLO'

In [20]:
str_variable1[8:]

'LD'

In [21]:
str_variable1[:5]

'HELLO'

In [22]:
#Using negative index:
str_variable1[-5]

'W'

In [23]:
str_variable1[:-1]

'HELLOWORL'

In [26]:
str_variable1[-10:-1]

'HELLOWORL'

In [27]:
str_variable1[-9:-7]

'EL'

* In python we cant access string more than the length of it, it throws index bound error.

In [28]:
str_variable1[20]

IndexError: string index out of range

Strings are immutable, so once declared you cant change them but you can completely replace the strings in variable.

In [29]:
#example:
str_variable1[5] = 5

TypeError: 'str' object does not support item assignment

In [30]:
str_variable1 = "This is new string!!"

In [31]:
del str_variable1[5]

TypeError: 'str' object doesn't support item deletion

In [32]:
del str_variable1

# Iteration over String:
We can iterate on string using loops like:
            1. for 
            2. while

In [33]:
for char in 'Hello!!':
    print(char)

H
e
l
l
o
!
!

Concatenation of two strings:

In [34]:
str_variable1 = "Hello"
str_variable2 = "world"

In [35]:
str_variable1+str_variable2

'Helloworld'

Repetition of strings:

In [37]:
str_variable1*2

'HelloHello'

In [38]:
#We cant concatenate string and Numbers:
str_variable1+1

TypeError: must be str, not int

In [40]:
#if we want to concatenate then chnage the datatype of number into string using str function
str_variable1+str(1)

'Hello1'

Membership test in strings:

In [41]:
print('h' in 'hello')

True

In [42]:
chars = 'hello'
str_variable = 'hello wolrd'
print(chars in str_variable)

True

Built In Functions:

In [45]:
str_variable = 'hello world'

In [48]:
#It will make string into camel case:
str_variable.capitalize()

'Hello world'

In [51]:
#It is used for to remove all case distinctions
str_variable = "HELLO WORLD"
str_variable.casefold()

'hello world'

In [54]:
#It is used for padding at both ends
str_variable.center(20)

'    HELLO WORLD     '

In [58]:
#padding the strin with characters
str_variable.center(20,'*')

'****HELLO WORLD*****'

In [59]:
str_variable.encode()

b'HELLO WORLD'

In [60]:
#encoding and unicode will be discussed later

In [65]:
#This function return boolean if string endswith characters or words
str_variable.endswith('D')

True

In [66]:
str_variable.endswith('WORLD')

True

In [77]:
#It finds where the character in the string
str_variable.find('W')

6

In [78]:
str_variable.find('w')

-1

In [79]:
#It finds where the character in the string
str_variable.index('W')

6

In [80]:
str_variable.index('w')

ValueError: substring not found

## *Difference between find and index, index throws an error if it does not find the characters in the string

In [84]:
#It will return boolean value if it is alpha numeric or not
str_variable.isalnum()

True

In [85]:
str_variable = "ABC123"

In [86]:
str_variable.isalnum()

True

In [87]:
str_variable = "1.6"

In [88]:
str_variable.isdecimal()

False

In [90]:
str_variable = "Hello"
str_variable.isalpha()

True

In [91]:
str_variable.replace("H",'h')

'hello'

In [92]:
str_variable.replace("ell",'ol')

'Holo'

In [93]:
#Splits the string by default with space
str_variable = "Hello Wolrd"
str_variable.split()

['Hello', 'Wolrd']

In [100]:
str_variable = "Hello-World"
str_variable.split("-")

['Hello', 'World']

In [95]:
#Returns string into upper case
str_variable.upper()

'HELLO-WORLD'

In [96]:
#Returns string into lower case
str_variable.lower()

'hello-world'

In [97]:
#Returns how many times the character in string
str_variable.count('l')

3

In [99]:
#Returns the length of the string
len(str_variable)

11