# Sets:
Sets is collection of heterogenous elements which doesn't hold duplicate elements. Sets are mutable and unordered. Sets are created by using set() function or by keeping the elements inside in curly braces {}.
* The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

## Declaring and Initialising :

In [20]:
#Initialsing using set function 
set_example1 = set([1,2,3,4,5])

In [21]:
#Initialising using curly braces:
set_example2 = {1,2,3,4,}

In [22]:
#We cant initialise the set without any elements using curly barces
set_example3 = {}

In [23]:
type(set_example3)

dict

In [24]:
#We can inititalise and declare empty set using set function:
set_example4 = set()

In [25]:
type(set_example4)

set

## Indexing & Slicing:

* As sets are unordered so we cant index or slice on sets.

## Adding of elements in sets:

In [26]:
#Adding of single element in sets:
set_example1.add(10)

In [27]:
set_example1

{1, 2, 3, 4, 5, 10}

In [28]:
#Adding multiple elements in sets:
set_example1.update([1,2,3,88])

In [29]:
set_example1

{1, 2, 3, 4, 5, 10, 88}

In [30]:
set_example1.update([11,22],{44,55},(77,88))

In [31]:
set_example1

{1, 2, 3, 4, 5, 10, 11, 22, 44, 55, 77, 88}

## Deleting of elements in sets:

In [32]:
set_example1

{1, 2, 3, 4, 5, 10, 11, 22, 44, 55, 77, 88}

In [34]:
#It discard the given element in the set
set_example1.discard(1)

In [35]:
set_example1

{2, 3, 4, 5, 10, 11, 22, 44, 55, 77, 88}

In [39]:
#If given element is not existed in set it doesn't throw error
set_example1.discard(1)

In [36]:
#It delete the given element in the set
set_example1.remove(2)

In [40]:
set_example1

{3, 4, 5, 10, 11, 22, 44, 55, 77, 88}

In [41]:
#If given element doesn't exists then it throws an error
set_example1.remove(1)

KeyError: 1

## Operations on Set:

Sets are similar to the sets which we studied in school. These are mostly used for mathmatical purposes.

### Set Union:
Union means the collection of elements from all posible sets.

![caption](set_union.png)

In [42]:
set_something_a = {1,2,3,4,5}
set_something_b = set([4,5,6,7,8])

In [43]:
#One way to perform union:
set_something_a|set_something_b

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
#second way to perform union:
set_something_a.union(set_something_b)

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection:
Intersection means common elements between the sets.

![caption](set_intersection.png)

In [45]:
#First way to perform intersection:
set_something_a&set_something_b

{4, 5}

In [46]:
#second way to perform intersection:
set_something_a.intersection(set_something_b)

{4, 5}

### Set Difference:
DIfference means elements of set 1 which doesnt exist in set 2. More elaborately only element of set 1

![caption](set_difference.png)

In [47]:
#First way to perform Difference
set_something_a - set_something_b

{1, 2, 3}

In [48]:
#Second way to perform difference:
set_something_b - set_something_a

{6, 7, 8}

### Set Symmetric Difference:
Symmetric difference means elements which are not common in both sets. Another explaination is Union - Intersection.

![caption](set_symmetric_difference.PNG)

In [49]:
#First way to perform symmetric difference:
set_something_a.symmetric_difference(set_something_b)

{1, 2, 3, 6, 7, 8}

In [50]:
#Second way to perform symmetric difference:
set_something_a.union(set_something_b) - set_something_a.intersection(set_something_b)

{1, 2, 3, 6, 7, 8}

## Built-In Mehtods:

In [54]:
#Returns the length of the output:
len(set_something_a)

5

In [56]:
#Returns the minimum value of the output:
min(set_something_a)

1

In [57]:
#Returns the maximum value of the output:
max(set_something_a)

5

In [59]:
#Returns the sorted order of output:
sorted(set_something_a,reverse=True)

[5, 4, 3, 2, 1]